Repository opentoucan/memer, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/code

ci: remove PAT from workflow
  .github/workflows/docker-build.yaml
Labels: area/github

ci: remove PAT from workflow
  .github/workflows/docker-build.yaml
Labels: area/github

ci: remove release branch from ci workflow
  .github/workflows/ci.yaml
Labels: area/github

ci: remove release branch from ci workflow
  .github/workflows/ci.yaml
Labels: area/github

chore: added taskfile for uv tools
  .taskfiles/uv/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore: added taskfile for uv tools
  .taskfiles/uv/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix: use pathlib for relative path access to resources
  resources/fonts/whitney-medium.ttf
  resources/images/template.png
  src/repost_response.py
Labels: area/code

fix: use pathlib for relative path access to resources
  resources/fonts/whitney-medium.ttf
  resources/images/template.png
  src/repost_response.py
Labels: area/code

chore: update gitignore
  .gitignore
Labels: none

chore: update gitignore
  .gitignore
Labels: none

chore: added zlib deps to nix env
  default.nix
Labels: none

chore: added zlib deps to nix env
  default.nix
Labels: none

chore: update project deps
  pyproject.toml
  uv.lock
Labels: area/code

chore: update project deps
  pyproject.toml
  uv.lock
Labels: area/code

chore: use multistage docker build with uv sync instead of pip
  Dockerfile
Labels: none

chore: use multistage docker build with uv sync instead of pip
  Dockerfile
Labels: none

fix: docker build
  Dockerfile
Labels: none

fix: docker build
  Dockerfile
Labels: none

chore: update uv lock
  pyproject.toml
  uv.lock
Labels: area/code

chore: update uv lock
  pyproject.toml
  uv.lock
Labels: area/code

chore: update .gitignore
  .gitignore
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

chore: add task to download models
  .taskfiles/models/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore: add task to download models
  .taskfiles/models/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

feat: pre-download models to prevent redownload when running
  Dockerfile
  src/clip_service.py
Labels: area/code

feat: pre-download models to prevent redownload when running
  Dockerfile
  src/clip_service.py
Labels: area/code

ci: add uv sync step
  .github/workflows/ci.yaml
Labels: area/github

ci: add uv sync step
  .github/workflows/ci.yaml
Labels: area/github

fix: create models directory if not exists
  .taskfiles/models/Taskfile.yaml
  Dockerfile
Labels: none

fix: create models directory if not exists
  .taskfiles/models/Taskfile.yaml
  Dockerfile
Labels: none

ci: use pytest in venv
  .github/workflows/ci.yaml
Labels: area/github

ci: use pytest in venv
  .github/workflows/ci.yaml
Labels: area/github

chore: remove pycache files
  src/__pycache__/broker.cpython-312.pyc
  src/__pycache__/clip_service.cpython-312.pyc
  src/__pycache__/main.cpython-312.pyc
  src/__pycache__/meme.cpython-312.pyc
  src/__pycache__/meme_posted_event.cpython-312.pyc
  src/__pycache__/meme_posted_event_handler.cpython-312.pyc
  src/__pycache__/repost_event.cpython-312.pyc
  src/__pycache__/repost_response.cpython-312.pyc
  src/__pycache__/vector_service.cpython-312.pyc
Labels: area/code

chore: remove pycache files
  src/__pycache__/broker.cpython-312.pyc
  src/__pycache__/clip_service.cpython-312.pyc
  src/__pycache__/main.cpython-312.pyc
  src/__pycache__/meme.cpython-312.pyc
  src/__pycache__/meme_posted_event.cpython-312.pyc
  src/__pycache__/meme_posted_event_handler.cpython-312.pyc
  src/__pycache__/repost_event.cpython-312.pyc
  src/__pycache__/repost_response.cpython-312.pyc
  src/__pycache__/vector_service.cpython-312.pyc
Labels: area/code

ci: use uv run for tool in venv
  .github/workflows/ci.yaml
Labels: area/github

ci: use uv run for tool in venv
  .github/workflows/ci.yaml
Labels: area/github

ci: allow manual dispatch for ci workflow
  .github/workflows/ci.yaml
Labels: area/github

ci: allow manual dispatch for ci workflow
  .github/workflows/ci.yaml
Labels: area/github

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "uv.lock"
          - "src/**"
          - "tests/**"
