Repository opentoucan/memer, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/code

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "uv.lock"
          - "src/**"
          - "tests/**"

fix: check if tools are installed before exiting in download script
  scripts/download-model.sh
Labels: none

fix: check if tools are installed before exiting in download script
  scripts/download-model.sh
Labels: none

fix: remove softmax function causing false positives
  src/clip_service.py
Labels: area/code

fix: remove softmax function causing false positives
  src/clip_service.py
Labels: area/code

test: modified test cases for repost threshold
  tests/__init__.py
  tests/data/bear2.jpg
  tests/data/cat1.jpg
  tests/data/cat2.jpg
  tests/unit/test_vector_service.py
Labels: area/code

test: modified test cases for repost threshold
  tests/__init__.py
  tests/data/bear2.jpg
  tests/data/cat1.jpg
  tests/data/cat2.jpg
  tests/unit/test_vector_service.py
Labels: area/code

chore: remove renovate workflow and use opentoucan renovate-config base
  .github/renovate.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/renovate.yaml
  .renovate.json5
  pyproject.toml
  uv.lock
Labels: area/github, area/code

chore: remove renovate workflow and use opentoucan renovate-config base
  .github/renovate.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/renovate.yaml
  .renovate.json5
  pyproject.toml
  uv.lock
Labels: area/github, area/code

ci(renovate): use pep621 manager for pyproject dependencies in renovate
  .renovate.json5
Labels: none

ci(renovate): fix bad syntax
  .renovate.json5
Labels: none

chore: update labels
  .github/labels.yaml
Labels: area/github

ci(renovate): rename renovate file and change pypi labelling
  .renovaterc.json5
  renovate.json
Labels: none

fix(uv.lock): re-add typing-inspection package to uv.lock
  uv.lock
Labels: area/code

chore(uv.lock): merge conflict error with faststream-0.5.42
  uv.lock
Labels: area/code

chore(renovate): group torch dependencies
  .renovaterc.json5
Labels: none

chore(renovate): group torch dependencies (#35)
  .renovaterc.json5
Labels: none

chore(renovate): fix python-version manager matching and update labels
  .github/labels.yaml
  .renovaterc.json5
Labels: area/github

chore(renovate): fix python-version manager matching and update labels (#36)
  .github/labels.yaml
  .renovaterc.json5
Labels: area/github

chore(renovate): fix regex for matching torchvision
  .renovaterc.json5
Labels: none

chore(renovate): explicit package group instead of regex
  .renovaterc.json5
Labels: none

feat(torchvision): update torch vision (0.21.0 → 0.22.1)
  pyproject.toml
Labels: area/code

chore: add vscode debugger config and pin docker versions
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .vscode/launch.json
Labels: none

chore: fix casing in dockerfile
  Dockerfile
Labels: none

chore: inline docker version tags
  .devcontainer/Dockerfile
Labels: none
