Repository opentoucan/memer, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/code

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "uv.lock"
          - "src/**"
          - "tests/**"

chore: use script to download models
  .github/workflows/ci.yaml
  .taskfiles/models/Taskfile.yaml
  Dockerfile
  Taskfile.yaml
  scripts/download-models.sh
Labels: area/github

chore: use script to download models
  .github/workflows/ci.yaml
  .taskfiles/models/Taskfile.yaml
  Dockerfile
  Taskfile.yaml
  scripts/download-models.sh
Labels: area/github

chore: use sh as shebang
  scripts/download-models.sh
Labels: none

chore: use sh as shebang
  scripts/download-models.sh
Labels: none

chore: typo fix
  .github/workflows/ci.yaml
Labels: area/github

chore: typo fix
  .github/workflows/ci.yaml
Labels: area/github

ci: rename ci jobs
  .github/workflows/ci.yaml
Labels: area/github

ci: rename ci jobs
  .github/workflows/ci.yaml
Labels: area/github

ci: image build in ci pipeline
  .github/workflows/ci.yaml
  .github/workflows/image-release.yaml
Labels: area/github

ci: image build in ci pipeline
  .github/workflows/ci.yaml
  .github/workflows/image-release.yaml
Labels: area/github

chore: release memer v0.1.1
  pyproject.toml
Labels: area/code

chore: release memer v0.1.1
  pyproject.toml
Labels: area/code

fix: update lock file
  uv.lock
Labels: area/code

fix: update lock file
  uv.lock
Labels: area/code

fix: use url env var for rabbitmq and qdrant with api key
  src/broker.py
  src/vector_service.py
Labels: area/code

fix: use url env var for rabbitmq and qdrant with api key
  src/broker.py
  src/vector_service.py
Labels: area/code

chore: update docs
  docs/README.md
Labels: area/docs

chore: update docs
  docs/README.md
Labels: area/docs

ci: pin only major versions where possible to reduce renovate noise
  .github/workflows/ci.yaml
  .github/workflows/image-release.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: pin only major versions where possible to reduce renovate noise
  .github/workflows/ci.yaml
  .github/workflows/image-release.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: devcontainer for running local dev
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
Labels: none

chore: devcontainer for running local dev
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
Labels: none

ci: pass model at docker build time
  Dockerfile
  scripts/download-models.sh
  src/clip_service.py
Labels: area/code

ci: pass model at docker build time
  Dockerfile
  scripts/download-models.sh
  src/clip_service.py
Labels: area/code

fix: pass threshold for image similarity at runtime
  src/vector_service.py
Labels: area/code

fix: pass threshold for image similarity at runtime
  src/vector_service.py
Labels: area/code

fix: tweak threshold and use type conversion for threshold param
  src/vector_service.py
Labels: area/code

fix: tweak threshold and use type conversion for threshold param
  src/vector_service.py
Labels: area/code

test: add extra test case and use different test data
  tests/data/croppedmeme.png
  tests/data/different_meme.jpg
  tests/data/meme.jpg
  tests/data/meme.png
  tests/data/monkey_meme_1.jpg
  tests/data/monkey_meme_2.jpg
  tests/data/similar_plane_meme.jpg
  tests/unit/test_repost_response.py
  tests/unit/test_vector_service.py
Labels: area/code

test: add extra test case and use different test data
  tests/data/croppedmeme.png
  tests/data/different_meme.jpg
  tests/data/meme.jpg
  tests/data/meme.png
  tests/data/monkey_meme_1.jpg
  tests/data/monkey_meme_2.jpg
  tests/data/similar_plane_meme.jpg
  tests/unit/test_repost_response.py
  tests/unit/test_vector_service.py
Labels: area/code

test: use != operator for assertion
  tests/unit/test_vector_service.py
Labels: area/code

test: use != operator for assertion
  tests/unit/test_vector_service.py
Labels: area/code

fix: use pyproject.toml for app config
  .github/workflows/ci.yaml
  Dockerfile
  pyproject.toml
  scripts/download-model.sh
  scripts/download-models.sh
  src/clip_service.py
  src/config.py
  src/vector_service.py
  uv.lock
Labels: area/github, area/code

fix: use pyproject.toml for app config
  .github/workflows/ci.yaml
  Dockerfile
  pyproject.toml
  scripts/download-model.sh
  scripts/download-models.sh
  src/clip_service.py
  src/config.py
  src/vector_service.py
  uv.lock
Labels: area/github, area/code

test: add more test cases
  tests/data/boomer.jpg
  tests/data/hotdog.png
  tests/unit/test_vector_service.py
Labels: area/code

test: add more test cases
  tests/data/boomer.jpg
  tests/data/hotdog.png
  tests/unit/test_vector_service.py
Labels: area/code

fix: removed unused config name
  src/config.py
Labels: area/code

fix: removed unused config name
  src/config.py
Labels: area/code

fix: jq dep in dockerfile
  Dockerfile
Labels: none

fix: jq dep in dockerfile
  Dockerfile
Labels: none
